/* .app {
    height: 100vh;
}

/* .app {
    position: relative;
} */

.app {
    background: #818182;
    font-family:
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.players_list{
    background-color: #1e232e;
    padding: 50px;
    height: 80vh;
}
.title{
    font-size:40px;
    font-weight: 700;
    text-align: center;
    padding: 0  0 50px;
    color: gold;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 470px !important;
    background-color: #fff;
    color: #1e232e;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    /*to make the corners of the image rounded*/
    border-bottom: .4rem solid #0099ff;
    border-top: .4rem solid #0099ff;

}

.swiper-slide img {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    background-image: url('https://www.shutterstock.com/image-illustration/dynamic-stadium-large-modern-filled-600nw-2472452971.jpg');
    /* background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20231004/pngtree-elevated-view-of-a-football-stadium-a-stunning-3d-render-depicting-image_13566884.png'); */
    object-position: 100% 0%;
    background-position: center;
    margin-bottom: 25px;

}

.swiper-slide h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    top: 220px;
    width: 300px;
    font-size: 27px;

}

.swiper-slide h2 {
    font-size: 20px;
    line-height: 15px;
}

.swiper-slide p {
    padding: 0 20px;
}